body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
<<<<<<< HEAD
}

.rs_logo {
  width: 200px;
=======

>>>>>>> ac16206 (feat: add semantic tags)
=======
>>>>>>> c1850a3 (fix: update all files in this branch)
}

.rs_logo {
  width: 200px;
}
